* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    text-align: center;
    font-family: 'Electrolize', sans-serif;
    background: rgb(34, 34, 34);
    color: #e7e8e9;
}

.container {
    width: 100%;
    padding: 0;
    margin: 0;
}

.anchor-title {
    font-size: 3em;
    padding-top: 50px;
}

.section {
    min-height: 100vh;
}


/* main */

.main {
    height: 95vh;
    color: #e7e8e9;
    background-image: url("../assets/images/main.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* menu */

#menu {
    text-align: center;
    color: black;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 10px;
}

.menuitem {
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: white !important;
}

.menuitem:hover {
    background-color: black;
}


/* offer */

.light {
    background-color: #e7e8e9;
    color: rgb(34, 34, 34);
}

#services {
    padding: 0 8em;
}

.header * {
    padding: 10px;
}

.subtitles {
    font-size: 1.5em;
}

.offer {
    font-size: 1.2px;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 0;
}

.box {
    padding: 20px;
}

.box h2 {
    padding: 10px;
}

.wrapper-2 {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 0;
}


/* contact */

#contact {
    position: relative;
}

.map {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}